header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.header__container {
  max-width: 1440px;
  width: 100%;
  height: 105.33px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.fa-bars {
  display: none;
}
.logo {
  margin-left: 101.61px;
}
nav {
  max-width: 545px;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 116.65px;
}
.nav__list--item {
  font-size: 16px;
  font-weight: 600px;
  line-height: 48px;
  color: #404040;
}
.nav__list--item:hover {
  font-size: 20px;
}
.resp__search {
  display: none;
}
.search__container {
  display: inline-block;
  margin-left: 57px;
  position: relative;
}
.search__icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.search {
  display: block;
  width: 286px;
  height: 45px;
  background-color: #d9dce0;
  outline: none;
  border: none;
}
.user__icon {
  margin-left: 53px;
}
.section__one {
  background: url("../img/image\ 22.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 105px;
  background-position: center;
}
.section__one--container {
  max-width: 1440px;
  height: 513px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1px;
  display: flex;
}
.section__one--text {
  margin-top: 115.67px;
  margin-left: 100px;
}
.section__one--text h1 {
  max-width: 589px;
  width: 100%;
  font-size: 70px;
  font-weight: 700;
  line-height: 72.61px;
  color: #f5f5f5;
}
.section__one--text p {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.73px;
  color: #f5f5f5;
  margin-top: 16px;
}
.sect1__resp--text {
  display: none;
}
.sect1__resp--image {
  display: none;
}
.exams__button {
  background-color: transparent;
  width: 97px;
  height: 44px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #f5f5f5;
  margin-top: 40px;
}
.exams__button:hover {
  cursor: pointer;
}
.courses__button {
  width: 141px;
  height: 44px;
  background-color: white;
  border-radius: 5px;
  margin-top: 28px;
  margin-left: 32px;
  border: none;
  color: #1b353d;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.courses__button:hover {
  cursor: pointer;
}
.section__one--image {
  margin-left: 79px;
  margin-top: 78px;
  max-width: 563px;
  width: 100%;
}
.section__one--image img {
  width: 100%;
  height: auto;
}
.section__two {
  width: 100%;
}
.section__two--container {
  max-width: 1440px;
  width: 100%;
  height: 1116px;
  margin: 0 auto;
}
.section__two--container h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  text-align: center;
  margin-top: 134px;
}
.section__two--flex {
  display: flex;
}
.section__two--text {
  margin-top: 170px;
  margin-left: 100px;
}
.section__two--text h2 {
  max-width: 589px;
  width: 100%;
  font-size: 60px;
  font-weight: 700;
  line-height: 81.71px;
  color: #333;
}
.section__two--text h3 {
  max-width: 589px;
  width: 100%;
  font-size: 32px;
  font-weight: 400;
  line-height: 43.58px;
  color: #333;
  margin-top: 4px;
}
.section__two--text p {
  max-width: 543px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 10px;
}
.section__two--form {
  max-width: 604px;
  width: 100%;
  height: 655px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #111827;
  margin-top: 108px;
  margin-left: 59px;
}
.section__two--form h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 21.31px;
  margin-top: 37px;
  margin-left: 40px;
}
.input__items {
  width: 524px;
  height: 60px;
  margin-top: 32px;
  margin-left: 39px;
  outline: none;
  border: 1px solid #d9dce0;
  background-color: #fafafc;
  color: #676767;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.31px;
  padding-left: 17px;
  border-radius: 5.33px;
}
#name {
  margin-top: 63px;
}
.form__submit {
  width: 241px;
  height: 52px;
  background-color: #1b353d;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 319px;
  margin-top: 82px;
}
.form__submit:hover {
  cursor: pointer;
}
.section__three--heading {
  width: 411px;
  font-size: 60px;
  color: #333;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 132px;
}
/* section three code */
.section__three {
  width: 100%;
  background-color: #fcfcfc;
  padding-top: 1px;
}
.section__three--container {
  max-width: 1240px;
  width: 100%;
  height: 592px;
  margin: 0 auto;
  margin-top: 151px;
  display: flex;
}
.section__three--image {
  max-width: 604px;
  width: 100%;
  height: 542px;
}
.section__three--image img {
  max-width: 604px;
  width: 100%;
  height: auto;
}
.section__three--text {
  max-width: 527px;
  width: 100%;
  height: 492px;
  margin-left: 109px;
}
.section__three--text h2 {
  width: 372px;
  font-weight: 800;
  font-size: 48px;
  line-height: 21.31px;
  color: #0f756b;
}
.section__three--text h3 {
  /* width: 525px; */
  margin-top: 23px;
  font-size: 48px;
  font-weight: 600;
  line-height: 65.37px;
  color: #404040;
}
.section__three--text p {
  width: 432px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 16px;
}
.explore__button {
  width: 196px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #1b353d;
  margin-top: 40px;
  color: #1b353d;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.explore__button:hover {
  color: white;
  background-color: #1b353d;
  cursor: pointer;
}
.section__three--resp {
  display: none;
}
.section__four {
  width: 100%;
}
.section__four--container {
  max-width: 1242px;
  width: 100%;
  height: 422px;
  margin: 0 auto;
  margin-top: 150px;
}
.section__four--container h1 {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 20px;
}
.section__four--flex {
  max-width: 1242px;
  width: 100%;
  height: 302.93px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
/* comment */
.box {
  width: 282px;
  height: 302px;
  border-radius: 9.96px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.box:hover {
  cursor: pointer;
}
.box:hover p {
  margin-top: 20px;
}

.box1 {
  background: url(../img/box1.png);
}
.box11 {
  background: url(../img/section\ six1.png);
}
.box22 {
  background: url(../img/section\ six2.png);
}
.box2 {
  background: url(../img/box2.png);
}
.box3 {
  background: url(../img/box3.png);
}
.box4 {
  background: url(../img/box4.png);
}
.box p {
  font-weight: 500;
  width: 178px;
  font-size: 26.15px;
  line-height: 39.22px;
  margin-top: 225px;
  margin-left: 24px;
  color: white;
  transition-property: all;
  transition-duration: 1s;
}
.section__five {
  width: 100%;
  margin-top: 145.15px;
}
.section__five--container {
  max-width: 1240px;
  width: 100%;
  height: 597px;
  margin: 0 auto;
  display: flex;
}
.section__five--image {
  max-width: 604px;
  width: 100%;
  height: 542px;
  margin-top: 54.45px;
}
.section__five--image img {
  width: 100%;
  height: auto;
}
.section__five--text {
  max-width: 542px;
  width: 100%;
  height: 552px;
  margin-left: 94px;
}
.section__five--text h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 21.31px;
  color: #0f756b;
  width: 281px;
  margin-left: 15px;
  margin-top: 42.85px;
}
.section__five--text h3 {
  width: 525px;
  font-size: 48px;
  font-weight: 600;
  color: #404040;
  line-height: 65.37px;
  margin-top: 22px;
  margin-left: 17px;
}
.section__five--text p {
  width: 432px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  caret-color: #333;
  margin-left: 21px;
  margin-top: 16px;
}
.see__button {
  width: 174px;
  height: 44px;
  border: 1px solid #1b353d;
  border-radius: 5px;
  color: #1b353d;
  font-size: 16px;
  background-color: white;
  line-height: 20px;
  margin-top: 40px;
  margin-left: 26px;
}
.see__button:hover {
  background-color: #1b353d;
  color: white;
  cursor: pointer;
}
.section__five--resp {
  display: none;
}
.section__seven {
  width: 100%;
  margin-top: 112px;
}
.section__seven--container {
  max-width: 1440px;
  width: 100%;
  height: 612px;
  margin: 0 auto;
}
.section__seven--container h1 {
  width: 559px;
  margin: 0 auto;
  margin-top: 62px;
  font-size: 60px;
  font-weight: 700;
  line-height: 81.71px;
  color: black;
}
.section__seven--flex {
  max-width: 1300px;
  width: 100%;
  height: 311.37px;
  margin: 0 auto;
  margin-top: 84.44px;
  display: flex;
  justify-content: space-between;
}
.instructor {
  width: 311.37px;
  height: 311.37px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.instructor:hover {
  box-shadow: 0px 5px 5px 5px #030303;
  cursor: pointer;
}
.instructor img {
  width: 56.61px;
  height: 56.61px;
  margin-top: 74.56px;
}
.instructor h3 {
  width: 208.53px;
  text-align: center;
  font-size: 22.65px;
  line-height: 27.41px;
  color: #495057;
  font-weight: 300;
  margin-top: 33.57px;
}
.instructor h2 {
  width: 245.33px;
  text-align: center;
  font-size: 30.19px;
  line-height: 36.54px;
  font-weight: 500;
  margin-top: 7.55px;
}
.section__eight {
  width: 100%;
  background-color: #f4f9fa;
}
.section__eight--container {
  max-width: 1440px;
  width: 100%;
  height: 930px;
  margin: 0 auto;
  padding-top: 1px;
}
.section__eight--container h1 {
  width: 252px;
  font-size: 42px;
  line-height: 52px;
  color: #000;
  margin: 0 auto;
  margin-top: 56px;
  text-align: center;
}
.section__eight--container p {
  width: 856px;
  margin: 0 auto;
  margin-top: 22px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #333;
  text-align: center;
}
.section__eight--flex {
  display: flex;
  margin-top: 86px;
}
.section__eight--contact {
  width: 317px;
  height: 428px;
  border-radius: 10px;
  border: 1px solid #00000010;
  margin-left: 288px;
  display: flex;
}
.contact__icons {
  width: 87px;
  height: 330px;
  display: flex;
  flex-direction: column;
}
.contact__info {
  width: 230px;
  height: 330px;
}
.contact__box1 {
  margin-top: 39.07px;
  height: 80px;
  width: 216px;
}
.contact__box2 {
  margin-top: 26.06px;
  height: 80px;
  width: 216px;
}
.contact__box3 {
  height: 80px;
  width: 216px;
  margin-top: 32.05px;
}
.contact__info a {
  color: black;
  font-size: 22.04px;
  font-weight: 600;
  line-height: 30.02px;
}
.contact__info p {
  width: 216px;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}
.contact__icons img {
  width: 15px;
  height: 15px;
  margin-left: 24px;
  margin-bottom: 88.55px;
}
.contact__icons img:first-of-type {
  margin-top: 59.3px;
}
.section__eight--form {
  width: 497px;
  margin-left: 131px;
}
.section__eight--form input {
  width: 497px;
  border: 1px solid #00000010;
  border-radius: 3.79px;
  font-size: 20px;
  line-height: 18.21px;
  padding-left: 15.17px;
  font-weight: 400;
  color: #00000030;
}
#name {
  height: 60px;
  margin-top: 0;
}
#email {
  height: 60px;
  margin-top: 24px;
}
#subject {
  height: 60px;
  margin-top: 24px;
}
#message {
  width: 497px;
  height: 155px;
  margin-top: 24px;
  font-size: 20px;
  padding-left: 15.17px;
}
.send__button {
  width: 288px;
  height: 60px;
  margin-top: 46px;
  margin-left: 209px;
  border-radius: 5px;
  background-color: #1b353d;
  color: white;
  font-size: 29.96px;
  border: none;
}
.send__button:hover {
  cursor: pointer;
  background-color: #00000030;
}

footer {
  width: 100%;
  background-color: #1b353d;
  margin-top: 0;
}
.footer__container {
  max-width: 1440px;
  width: 100%;
  height: 548px;
  margin: 0 auto;
  padding-top: 1px;
}
.footer__flex {
  height: 190px;
  display: flex;
  margin-top: 75px;
}
.footer__box1 {
  width: 296px;
  height: 190px;
  margin-left: 100px;
}
.footer__logo {
  margin-top: 11px;
}
.footer__box1 p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 24px;
  margin-top: 21.32px;
}
.social__icons {
  margin-top: 32px;
  margin-left: 5px;
  margin-right: 19px;
}
.footer__box2 {
  width: 322px;
  height: 176px;
  margin-left: 422px;
}
.footer__box2 h2:first-of-type {
  margin-top: 0px;
}
.footer__box2 h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: white;
  margin-top: 16px;
}
.footer__box2 a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}
.footer__box3 {
  width: 82px;
  height: 144px;
  margin-left: 96px;
}
.footer__box3 h2{
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 24px;
}
.footer__box3 p {
  margin-top: 12px;
}
.footer__box3 a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-top: 12px;
}
.subscribe {
  width: 545px;
  height: 105px;
  margin: 0 auto;
  margin-top: 64px;
}
.subscribe h2 {
  width: 376px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: white ;
}
#subscribe {
  width: 419px;
  height: 52px;
  color: #3b7586;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  padding-left: 18px;
  border: none;
  outline: none;
  margin-top: 17px;
}
.subscribe__button {
  width: 126px;
  height: 53px;
  margin-left: -4px;
  border: none;
  margin-top: 17px;
  color: white;
  padding: 0;
  background-color: #3b7586;
}
.subscribe__button:hover {
  cursor: pointer;
}
.copyright {
  width: 543.63px;
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright p{
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: white;
}
.footer__resp {
  display: none;
}
@media (max-width: 1440px) {
  /* section One code */
  .header__container {
    max-width: 1024px;
    width: 100%;
  }
  .logo {
    margin-left: 20px;
  }
  .nav__list {
    margin-left: 40px;
  }
  .user__icon {
    margin-left: 20px;
  }
  .section__one--text h1 {
    font-size: 50px;
  }
  .section__one--text p {
    font-size: 20px;
  }
  /* section two code */
  .section__two--flex {
    justify-content: center;
  }
  .section__two--text {
    display: none;
  }
  /* section three code */
  .section__three {
    margin-top: -100px;
  }
  .section__three--container {
    justify-content: center;
  }
  .section__three--image {
    display: none;
  }
  .section__three--text h2 {
    font-size: 40px;
  }
  .section__three--text h3 {
    font-size: 35px;
  }
  .section__four--flex {
    height: 250px;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
  }
  .box {
    height: 220px;
    width: 220px;
  }
  .box p {
    margin-top: 120px;
  }
  .section__five--container {
    justify-content: space-around;
  }
  .section__five--image {
    max-width: 500px;
    height: 500px;
  }
  .section__five--text {
    width: 400px;
  }
  .section__five--text h2 {
    font-size: 30px;
    width: 200px;
  }
  .section__five--text h3 {
    font-size: 30px;
    width: 300px;
  }
  .section__five--text p {
    font-size: 20px;
    width: 350px;
  }
  .section__seven--container {
    height: 950px;
  }
  .section__seven--flex {
    max-width: 700px;
    height: 650px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section__eight--flex {
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-around;
  }
  .section__eight--contact {
    margin-left: 0px;
  }
  .footer__box2 {
    margin-left: 40px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    max-width: 428px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fa-bars {
    display: block;
    font-size: 32px;
  }
  nav {
    display: none;
  }
  .logo {
    align-self: flex-end;
    margin-bottom: 15px;
  }
  .search__container {
    display: none;
  }
  .resp__search {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 52px;
  }
  .user__icon {
    margin-left: 26px;
  }
  .section__one {
    background: none;
    width: 100%;
    margin-top: 121px;
    display: flex;
    justify-content: center;
  }
  .section__one--container {
    max-width: 398px;
    height: 666px;
    width: 100%;
    align-items: center;
  }
  .section__one--text {
    margin: 0;
  }
  .section__one--text h1 {
    font-size: 32px;
    color: #333333;
    font-weight: 700;
    line-height: 38.73px;
    max-width: 301px;
    width: 100%;
  }
  .section__one--text p {
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 500;
    color: #333333;
    margin-top: 10px;
  }
  .sect1__resp--image {
    display: block;
    max-width: 398px;
    width: 100%;
    height: 322px;
    margin-left: 0;
    margin-top: 49px;
  }
  .sect1__resp--image img {
    width: 100%;
  }
  .sect1__resp--text {
    display: block;
    margin-top: 20px;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #333333;
  }
  .sect1__resp--text a {
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    color: #333333;
  }
  .section__one--image {
    display: none;
  }
  .exams__button {
    width: 190px;
    height: 44px;
    border: 1px solid #0f756b;
    color: #0f756b;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .courses__button {
    width: 187px;
    height: 44px;
    color: white;
    background-color: #1b353d;
    margin-left: 17px;
  }
  .section__two {
    margin-top: 90px;
  }
  .section__two--container {
    width: 396px;
    height: 408px;
  }
  .section__two--container h1 {
    margin: 0;
    text-align: start;
    font-size: 24px;
    line-height: 20px;
  }
  .section__two--form {
    width: 396px;
    height: 352px;
    margin-top: 36px;
    margin-left: 0;
    box-shadow: none;
  }
  .section__two--form h2 {
    display: none;
  }
  .input__items {
    margin-top: 24px;
    margin-left: 0;
    width: 395px;
    height: 48px;
  }
  #name {
    margin-top: 0;
  }
  .form__submit {
    width: 396px;
    height: 52px;
    margin-top: 36px;
    margin-left: 0;
  }
  .section__three {
    margin-top: 52px;
  }
  .section__three--container {
    width: 396px;
    height: 605px;
  }
  .section__three--heading {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
  .section__three--text {
    margin-left: 0;
  }
  .section__three--text h2 {
    font-size: 24px;
    line-height: 21.31px;
  }
  .section__three--text h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }
  .section__three--resp {
    max-width: 302px;
    width: 100%;
    height: 271px;
    margin: 0 auto;
    margin-top: 28px;
    display: block;
  }
  .section__three--resp img {
    width: 100%;
    height: auto;
  }
  .section__three--text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    margin-top: 27px;
    width: 396px;
    height: 112px;
  }
  .explore__button {
    margin-top: 27px;
    margin-right: 0px;
    margin-left: 200px;
  }
  .section_four {
    margin-top: 36px;
  }
  .section__four--container {
    width: 396px;
    height: 182px;
    margin-top: 36px;
  }
  .section__four--container h1 {
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    width: 235px;
  }
  .section__four--flex {
    width: 396px;
    height: 130px;
    margin-top: 32px;
  }
  .box {
    width: 121px;
    height: 130px;
  }
  .box p {
    font-size: 11.22px;
    margin-top: 80px;
    margin-left: 10px;
    width: 77px;
    line-height: 16.83px;
  }
  .section__five--container {
    width: 396px;
    height: 627px;
    justify-content: center;
  }
  .section__five--image {
    display: none;
  }
  .section__five--text {
    width: 100%;
    margin: 0;
  }
  .section__five--text h2 {
    font-size: 24px;
    line-height: 21.31px;
    margin: 0;
  }
  .section__five--text h3 {
    font-size: 28px;
    line-height: 38.13px;
    margin-left: 0;
    margin-top: 18px;
  }
  .section__five--resp {
    display: block;
    max-width: 302px;
    width: 100%;
    height: 271px;
    margin: 0 auto;
    margin-top: 28px;
  }
  .section__five--resp img {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
  }
  .section__five--text p {
    width: 396px;
    font-size: 17px;
    line-height: 28px;
    margin: 0 auto;
    margin-top: 28px;
    text-align: center;
  }
  .see__button {
    margin-left: 213px;
    margin-top: 28px;
  }
  .section__seven--container {
    height: 549px;
  }
  .section__seven--container h1 {
    width: 303px;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
  }
  .section__seven--flex {
    margin-top: 30px;
    width: 398px;
    height: 355.03px;
  }
  .instructor {
    width: 169.03px;
    hanging-punctuation: 169.03px;
    justify-content: center;
  }
  .instructor h3 {
    width: 113.2px;
    text-align: center;
    font-size: 12.29px;
    line-height: 14.88px;
  }
  .instructor h2 {
    width: 133.18px;
    font-size: 16.39px;
    line-height: 19.84px;
  }
  .section__eight {
    margin-top: 170.97px;
    width: 100%;
  }
  .section__eight--container {
    max-width: 441px;
    width: 100%;
    height: 1269px;
  }
  .section__eight--flex {
    flex-direction: column-reverse;
  }
  .section__eight--container h1 {
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    width: 195px;
  }
  .section__eight--container p {
    width: 390px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 33px;
  }
  .section__eight--form {
    margin: 0 auto;
    width: 396px;
  }
  .section__eight--form input {
    max-width: 396px;
    width: 100%;
    height: 48px;
  }

  #message {
    max-width: 396px;
    width: 100%;
  }
  .send__button {
    width: 394px;
    margin: 0 auto;
    margin-top: 36px;
  }
  .section__eight--contact {
    width: 317px;
    height: 428px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .contact__icons img {
    width: 12px;
    height: 9px;
    margin-left: 64.29px;
    margin-bottom: 90px;
  }
  .contact__info h2 {
    font-size: 17px;
    line-height: 23.15px; 
  }
  .contact__info p {
    margin: 0;
    width: 216px;
    font-size: 15px;
    line-height: 21px;
  }
  .contact__box3 {
    margin-top: 28px;
  }
  .footer__container {
    display: none;
  }
  .footer__resp {
    display: block;
    max-width: 430px;
    width: 100%;
    height: 659px;
    margin: 0 auto;
    padding-top: 1px;
  }
  .resp__subscribe {
    max-width: 380px;
    width: 100%;
    height: 61.83px;
    margin: 0 auto;
    margin-top: 63px;
  }
  .resp__subscribe {
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 21px;
  }
  #resp__subscribe {
    max-width: 292px;
    width: 100%;
    margin-right: 0;
    height: 36.07px;
    border: none;
    margin-top: 5px;
  }
  .resp__subscribe__button {
    max-width: 87.85px;
    width: 100%;
    height: 36.07px;
    font-size: 10px;
    color: white;
    line-height: 15px;
    background-color: #3b7586;
    border: none;
    margin-left: -5px;
    margin-top: 5px;
  }
  .resp__subscribe__button:hover {
    cursor: pointer;
  }
  .resp__flex {
    display: flex;
    margin: 0 auto;
    max-width: 430px;
    width: 100%;
  }
  .footer__box2 {
    width: 231px;
    height: 200px;
    margin-top: 33.7px;
    margin-left: 26px;
  }
  .footer__box3 {
    margin-top: 33.7px;
    margin-right: 26px;
  }
  .resp__logo {
    width: 158px;
    height: 81px;
    margin-top: 33px;
    margin-left: 26px;
  }
  .social__icons {
    margin-left: 0;
    margin-right: 10px;
  }
  .copyright {
    width: 318px;
    height: 85px;
    display: block;
    margin-left: 26px;
  }
}
